---
layout: page
title: Archive
permalink: /archive/
---

{% for post in site.categories["posts"] %}
        <div class="archive">
          <a class="archive-link" href="{{ post.url | prepend: site.baseurl }}">
              <span class="archive-meta">{{ post.date | date: "%b %-d, %Y" }}</span> &nbsp;&nbsp;&nbsp;&nbsp; {{ post.title }}
              <div class="tags">
                {% for tag in post.tags %}
                  <span class="tag">{{ tag }}</span>
                {% endfor %}
              </div>
          </a>
        </div>
{% endfor %}