---
layout: page
title: Archive
permalink: /archive/
---

<div class="archive">
  {% for post in site.categories["posts"] %}
          <a class="archive-link" href="{{ post.url | prepend: site.baseurl }}">
              <span class="archive-meta table-cell">{{ post.date | date: "%b %-d, %Y" }}</span>
              <div class="table-cell">
                {{ post.title }}
                <div class="tags">
                  {% for tag in post.tags %}
                    <span class="tag">{{ tag }}</span>
                  {% endfor %}
                </div>
              </div>
          </a>
  {% endfor %}
</div>