body
  .post
    background: white
    max-width: 0.7*$page-width
    padding: 10px
    color: $text-color
    text-size: 20px
    line-height: 30px
    .post-title
      color: $header-link-color
    .post-content
      pre
        width: 0.7*$page-width - 20px
        overflow: auto
        background: #F9F9F9
        text-size: 16px
        line-height: 22.5px